.cd-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0/16%);
    display: none;
    place-content: center;
}

    .cd-container.open{
        display: grid;
    }

.cd-container .cd-outerbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 6rem;
    min-height: 6rem;
    background: white;
    padding: 0.5rem 1.5rem;
}

.cd-container .cd-outerbox .cd-btnspace{
    display: flex;
    justify-content: flex-start;
}