<h1>NBA Score Tracking App</h1>
<div class="container">
  <router-outlet></router-outlet>
  <app-confirmation-dialog [name]="dialogName">
    <p>Are you sure you want to remove this team?</p>
    <div btnsection>
      <app-custom-button class="default" (onAction)="onNoClick()">
        <fa-icon [icon]="banIcon"></fa-icon> No
      </app-custom-button>
      <app-custom-button class="secondary" (onAction)="onYesClick()">
        <fa-icon [icon]="checkIcon"></fa-icon> Yes
      </app-custom-button>
    </div>
  </app-confirmation-dialog>
</div>
