<div class="row">
  <div class="col-sm-11">
    <select [(ngModel)]="selectedConference" (change)="onConferenceChange()">
      <option [value]="0">
        all
      </option>
      <option *ngFor="let conf of conferences;let idx = index" [value]="idx + 1">
        {{conf}} Conference
      </option>
    </select>
    <select [(ngModel)]="selectedDivision" (change)="onDivisionChange()">
      <option [value]="0">
        all
      </option>
      <option *ngFor="let div of divisions;let idx = index" [value]="idx + 1">
        {{div}} Division
      </option>
    </select>
    <select #teamSelect>
      <option [value]="team.id" *ngFor="let team of teams$ | async">
        {{team.full_name}}
      </option>
    </select>
    <button class="primary" (click)="trackTeam(teamSelect.value)">Track team</button>
  </div>
</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team">

  </app-team-stats>
</div>
